<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>My Resort – Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

  <header class="navbar">
    <div class="logo">Resorvia</div>

    <nav>
      <a href="#">About</a>
      <a href="#">Room</a>
      <a href="#">Services</a>
      <a href="#">Offers</a>
      <a href="#">Gallary</a>
      <a href="#">Contact</a>
    </nav>

    <div class="nav-actions">
      <a href="#" class="login">Login / Join</a>
      <a href="#" class="cta">Book a Stay</a>
    </div>
  </header>

  <section class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
      <h1>Resorvia</h1>
    <p>Great resort management doesn't just welcome guests—it makes them want to return.”</p>
      <a href="#" class="hero-btn">Book Your dream stay</a>
    </div>
  </section>

</body>
</html>
